* {
    box-sizing: border-box;
}

@font-face {
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 200 700;
    font-display: swap;
    src: url(../fonts/Oswald/Oswald-VariableFont_wght.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

body {
    margin: 0;
    background-color: #fefefe;
}

.alt-bg-color {
    background-color: gold;
}

/* IMPORTANT: Add margin to the top and bottom of your content
           so it isn't covered by the fixed header and footer */
.content {
    padding: 60px 0px;
}

/*** Header section styles ***/

.navbar {
    position: fixed; /* Sticks the header to the viewport */
    top: 0; /* Aligns it to the very top */
    width: 100%; /* Ensures it spans the full width */
    height: 60px;
    background-color: #fff;
    color: black;
    display: flex;
    justify-content: space-between; /* Puts logo on left, nav on right */
    align-items: center;
    z-index: 1000; /* Keeps header above other content */
    margin: 0;
}

.navbar-left {
    display: flex;
    font-family: Helvetica, sans-serif;
    font-weight: bold;
    font-size: xx-large;
    margin-left: 10px;
    padding: 0;
}

.navbar-left img {
    height: 40px; /* Sets a fixed height slightly smaller than the navbar */
    width: auto; /* Maintains aspect ratio */
    margin-right: 10px;
}

/* Optional: Add a hover effect to the logo */
.navbar-left img:hover {
    opacity: 0.8;
}

.nav-links {
    list-style: none;
    display: flex; /* Makes the list items horizontal */
    margin: 0;
    padding: 0;
}

.nav-links li {
    margin-left: 20px;
}

.nav-links li:first-child {
    margin-left: 0;
}

.nav-links li:last-child {
    margin-right: 20px;
}

.nav-links a {
    color: white;
    text-decoration: none;
    transition: color 0.1s;
}
.nav-links a:hover {
    color: #bbb;
}

.nav-title {
    font-family: "Oswald", Georgia, sans-serif;
    font-weight: 400;
    font-size: x-large;
}

.menu-toggle, .hamburger {
    display: none;
}

/* Responsive header-navbar on screens less than 600px wide */
@media screen and (max-width: 665px) {
    .hamburger {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 30px;
        height: 21px;
        cursor: pointer;
        z-index: 1001; /* Above the mobile menu */
        margin-right: 15px;
    }

    /* Create the 3 lines of the hamburger */
    .hamburger span {
        height: 3px;
        width: 100%;
        background-color: black;
        border-radius: 10px;
        transition: all 0.3s ease;
    }

    /* Transform Nav Links into a sliding right overlay */
    .nav-links {
        position: fixed;
        top: 60px;
        right: -100%; /* Hidden off-screen to the right */
        width: 60px;
        height: 100vh;
        background-color: #fff;
        flex-direction: column;
        align-items: center;
        justify-content: start;
        transition: right 0.5s ease-in-out; /* Smooth slide-in effect */
    }

    .nav-links li {
        margin: 20px 0;
    }

    .nav-links li:last-child {
        margin-right: 0;
    }

    /* THE MAGIC: When checkbox is checked, slide the menu in */
    .menu-toggle:checked ~ nav .nav-links {
        right: 0;
    }
    /* Optional: Animate hamburger into an 'X' when menu is open */
    .menu-toggle:checked ~ .hamburger span:nth-child(1) {
        transform: translateY(9px) rotate(45deg);
    }
    .menu-toggle:checked ~ .hamburger span:nth-child(2) {
        opacity: 0;
    }
    .menu-toggle:checked ~ .hamburger span:nth-child(3) {
        transform: translateY(-9px) rotate(-45deg);
    }
}

/*** end of header style ***/

/*** main section styles ***/

.overview-container {
    display: flex; /* Makes children line up horizontally */
    justify-content: center; /* Centers horizontally */
    align-items: center; /* Centers vertically */
}

.overview {
    display: flex; /* Makes children line up horizontally */
    column-gap: 20px; /* Adds space between the divs */
    align-items: center;
    font-size: xx-large;
    font-family: "Oswald", sans-serif;
    padding: 20px;
    height: auto;
}

.overview-left {
    width: 50%;
    display: flex;
    justify-content: right;
}

.overview-text {
    width: 75%;
    text-align: right;
}

.overview-text .contact {
    font-size: large;
    justify-content: right;
}

.overview-text a {
    font-family: Georgia, serif;
    font-size: large;
    text-decoration: none;
    display: grid;
    margin: 3px;
    color: darkgreen;
}

.overview-right {
    width: 50%;
    display: flex;
    justify-content: left;
}

.overview .overview-right img {
    width: 75%;
    height: auto;
}

@media screen and (max-width: 840px) {
    .overview {
        flex-direction: column;
        row-gap: 20px;
        justify-content: start;
    }

    .overview-left {
        width: 100%;
        justify-content: center;
    }

    .overview-text {
        width: 100%;
        text-align: center;
    }

    .overview-text .contact {
        justify-content: center;
    }

    .overview-right {
        width: 100%;
        justify-content: center;
    }

    .overview .overview-right img {
        width: 100%;
        height: auto;
    }
}

/*** timeline styles ***/
.timeline {
}

.timeline-event {
    display: flex; /* Makes children line up horizontally */
    justify-content: center; /* Centers horizontally */
    align-items: start;
}

.event-caption {
    width: 25%;
    text-align: right;
    vertical-align: top;
    padding: 10px 40px;
    color: #6b7280;
}

.event-content {
    width: 75%;
    border-left: 2px solid #d1d5db;
    padding: 10px 40px;
    text-align: left;
    vertical-align: top;
}

.event-content::before {
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    border: 2px solid #d1d5db;
    border-radius: 50%;
    z-index: 1;
    margin-left: -53px;
    margin-top: -3px;
}

.event-content::before {
    background-color: gold;
}

.alt-bg-color .event-content::before {
    background-color: white;
}

.event-content ul {
    padding-inline-start: 0;
    list-style-position: inside;
}

@media screen and (max-width: 630px) {
    .timeline-event {
        display: flex; /* Makes children line up horizontally */
        flex-direction: column;
        justify-content: start;
    }

    .event-content {
        width: 100%;
        padding: 10px 10px 10px 10px;
        margin-left: 20px;
    }
    .event-content::before {
        display: none;
    }

    .event-caption {
        width: 100%;
        text-align: left;
        border-left: 2px solid #d1d5db;
        padding: 10px 10px 10px 10px;
        margin-left: 20px;
    }
    .event-caption::before {
        content: '';
        position: absolute;
        width: 12px;
        height: 12px;
        border: 2px solid #d1d5db;
        border-radius: 50%;
        z-index: 1;
        margin-left: -19px;
        margin-top: 0px;
    }
    .event-caption::before {
        background-color: gold;
    }
    .alt-bg-color .event-caption::before {
        background-color: white;
    }
}

/*** end of timeline styles ***/

/*** end of main section styles ***/

/** common utility styles ***/

.larger-bold {
    font-size: larger;
    font-weight: bold;
}

.smaller-bold {
    font-size: smaller;
    font-weight: bold;
}

.smaller-italic {
    font-size: smaller;
    font-style: italic;
}

.general-caption {
    font-family: Georgia, serif;
    font-size: xx-large;
    font-style: italic;
    text-align: center;
    line-height: 1.5em;
    margin: 40px;
}

.section {
    scroll-margin-top: 60px;
    padding-bottom: 10px;
}

.section h1 {
    font-family: "Oswald", Helvetica, sans-serif;
    font-size: xx-large;
    font-weight: 450;
    text-align: left;
    padding: 20px 40px;
    margin: 0;
}

.section h2 {
    font-family: "Oswald", Helvetica, sans-serif;
    font-size: x-large;
    font-weight: 400;
    text-align: left;
    padding: 10px 20px;
    margin: 0;
}

.section-content {
    font-family: Verdana, Tahoma, sans-serif;
    font-size: medium;
    margin: 20px 40px;
}

.section-content li {
    line-height: 1.75em;
    margin-bottom: 1em;
}

.summary-container {
    display: flex; /* Makes children line up horizontally */
    column-gap: 10px; /* Adds space between the divs */
    align-items: start;
    font-family: "Oswald", sans-serif;
}

.summary-container .left {
    width: 50%;
}

.summary-container .right {
    width: 50%;
}

.summary-container .left li {
    line-height: 1.75em;
    margin-bottom: 1em;
}

.summary-container .right li {
    line-height: 1.5em;
    margin-bottom: .75em;
}

.code {
    font-family: "Courier New", Courier, monospace;
}

.copy {
    cursor: copy;
}

.copy::after {
    content: "\2750";
    vertical-align: super;
    font-size: smaller;
    padding-left: 2px;
    height: 0.1em;
    display: inline-block;
    transition: opacity 0.1s ease;
}

.copy:active::after {
    opacity: 0.3;
}

/** end common utility styles ***/

@media screen and (max-width: 630px) {
    .section h1 {
        padding: 10px 20px;
    }

    .section h2 {
        padding: 5px 10px;
    }

    .section-content {
        margin: 10px 20px;
    }

    .summary-container {
        display: flex; /* Makes children line up horizontally */
        flex-direction: column;
        justify-content: start;
    }

    .summary-container .left {
        width: 100%;
    }

    .summary-container .right {
        width: 100%;
    }
}

/*** footer section styles ***/

.footbar {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 60px;
    background-color: gold;
    color: black;
    display: flex;
    justify-content: center; /* Puts logo on left, nav on right */
    align-items: center;
    z-index: 1000; /* Keeps header above other content */
    margin: 0;
}

.contact {
    display: flex;
    justify-content: center;
    column-gap: 3px;
}

/*** end of footer section styles ***/